# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Any type of library
*.jar
*.?ar

#IntelliJ IDEA files
.idea/*

#IntelliJ IDEA project files
*.iml

#test data of activemq files
activemq-data/*

#any out files (artifacts)
out/*

#manifest files
*.MF
*.mf

# log files
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

